* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: #008c00;
  text-decoration: auto;
}

img.logo-text {
  width: 90px;
}

.icon {
  margin-right: 10px;
  z-index: -1;
  width: 50px
}

.sticky {
  position: fixed;
  right: 0;
  left: 0;
  background: #000;
  padding: 15px 30px;
}

.header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-size: 55%;
  background-image: url(../img/Maskgroup.svg);
  background-position: right 0 top 0;
  background-repeat: no-repeat;
}

.btn {
  letter-spacing: 0.05em;
  background: #007a1e;
  border: 1px solid #006f1b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 77px;
  color: #fff;
  min-width: fit-content;
  cursor: pointer;
  transition: all 150ms linear;
  height: 46px;
  width: 197px;
  font-size: 17px;
  line-height: 21px;
}

.btn-white {
  padding: 0 2%;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #008c00;
  border-radius: 77px;
  background-color: #fff;
  border: 0;
  height: 46px;
  width: 197px;
  cursor: pointer;
}

.btn-white:hover {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px #006f1b;
  text-decoration: none;
  text-shadow: 1px 0px 0 #006f1b;
  transition: all 250ms linear;
}

.btn:hover {
  background: #006f1b;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px #006f1b;
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #006f1b;
  transition: all 250ms linear;
}

button.btn-right:hover {
  border: 0;
}

nav {
  display: flex;
  padding: 15px 5%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 30px;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #007a1e;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links ul li a:hover {
  color: #f2ffef;
}

.nav-links ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.head-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head-img {
  width: 35%;
  margin-top: 5%;
}

.text-box {
  width: 45%;
  color: #000;
}

.text-box h1 {
  width: 506.82px;
  text-transform: uppercase;
  line-height: 63px;
  font-size: 45px;
}

.text-box p {
  width: 506.82px;
  color: #000;
  line-height: 34px;
  letter-spacing: 0.01em;
  font-size: 24px;
}

.text-box .btn {
  margin-top: 40px;
  width: 200px;
}

nav .fa {
  display: none;
}

.circle-img {
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 0;
  filter: brightness(1.8);
}

.transaction-row {
  display: flex;
  margin-left: 5%;
}

.count {
  margin: 0 3% 2%;
}

.count h1 {
  color: #53e300;
  font-weight: 500;
  font-size: 3.5rem;
}

.count p {
  font-weight: 500;
}

.platform-features {
  text-align: center;
  background-image: linear-gradient(0, #d5ffcb, transparent);
}

.platform-features h1 {
  font-size: 42px;
  line-height: 49px;
  font-weight: bolder;
}

.feature-row {
  padding: 3% 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.feature img {
  width: 100px;
  height: 100px;
}

.feature {
  width: 20%;
}

.feature h3 {
  font-size: 20px;
}

.feature-description {
  display: flex;
  padding: 5% 4% 7%;
  justify-content: space-between;
  background: url(../img/bg.svg) bottom no-repeat;
  background-size: 100%;
}

.feature-text {
  width: 60%;
}

.feature-text h1 {
  font-size: 36px;
  line-height: 49px;
}

.feature-text p {
  margin: revert;
  font-size: 20px;
  line-height: 32px;
}

.feature-text button {
  margin-top: 50px;
}

.share-type-row {
  display: flex;
  justify-content: space-between;
}

.share-type {
  padding: 0px 6% 10%;
  place-self: end;
}

.share-type h4 {
  letter-spacing: 0.02em;
  color: #007a1e;
  font-size: 20px;
  line-height: 30px;
}

.share-type p {
  font-size: 18px;
  line-height: 28px;
}

.how-it-works {
  padding: 5% 10% 5%;
  text-align: center;
  color: white;
  background: url(../img/howitworksbg.svg) no-repeat;
  background-size: 100%;
}

.how-it-works h1 {
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.how-it-works h4 {
  margin-top: 16px;
  margin-bottom: 48px;
  display: block;
  text-align: center;
  font-size: 18px;
}

.how-it-works h5 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: center;
}

.capsule-btn {
  display: inline-flex;
  border-radius: 77px;
  border: 1px solid #008c00;
  box-sizing: border-box;
  display: inline-flex;
  height: 46px;
  width: 394px;
}

.capsule-btn button {
  background: #34aa45;
  border: none;
  font-weight: 600;
  color: #fff;
  padding: 5px 25px;
  box-shadow: 1px 1px 2px #006f1b;
}

.capsule-btn button:hover {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px #006f1b;
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #006f1b;
  transition: all 250ms linear;
}

.display-img {
  width: 35%;
}

.active.capsule-button {
  width: inherit;
  height: inherit;
  background-color: #007a1e;
}

.capsule-button {
  width: inherit;
  height: inherit;
}

button.btn-right {
  cursor: pointer;
  background: #007a1e;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 15%);
  border-radius: 0px 77px 77px 0px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.step-container {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  align-items: center;
}

.step {
  width: 250px;
  height: 245px;
  font-size: 15px;
  text-align: inherit;
}

.step p {
  margin-top: 5px;
}

.step img {
  width: 100px;
}

.arrow {
  width: 85px;
  margin: 10px;
}

.about {
  padding: 5% 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  padding: 0 12% 0 8%;
}

.text-container h1 {
  font-size: 42px;
  line-height: 49px;
}

.text-container p {
  font-size: 18px;
  line-height: 32px;
}

.register-now-card {
  background: linear-gradient(16.61deg,
      #008161 -60.93%,
      #33aa52 56.82%,
      #bbff00 320.13%);
  padding: 2% 5%;
  display: flex;
  margin: 0 7%;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.register-now-card h1 {
  width: 50%;
}

.contact-us {
  display: flex;
  padding: 0 20% 4% 20%;
  justify-content: center;
  margin-bottom: -35px;
  align-items: center;
  background: url(../img/bg.svg) bottom no-repeat;
  background-size: 145%;
}

.contact-us-form h1 {
  font-size: 32px;
  line-height: 49px;
}

.contact-details {
  width: 25%;
  padding-right: 10px;
}

.contact-details p {
  font-size: 18px;
  line-height: 28px;
}

.contact-details h4 {
  font-size: 14px;
  line-height: 21px;
}

.contact-us-form {
  width: 50%;
  margin-left: 15%;
}

#contactUsForm .input-box {
  width: 100%;
  margin: 0 0 5%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  color: #000;
}

.footer {
  background-color: #054b16;
  display: flex;
  justify-content: space-between;
  padding: 6% 4%;
}

.footer-col {
  width: 25%;
}

.footer-col p {
  margin: 5px;
}

.footer h4 {
  color: #9bf00b;
  margin-bottom: 20px;
}

.footer-col p {
  margin: 10px 0 15px;
}

.footer p {
  color: #fff;
}

footer {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background-color: #004600;
}

.social-icons {
  color: #fff;
  margin-top: 30px;
}

.social-icons i {
  width: 45px;
  margin-top: 10px;
  font-size: 25px;
}

.footer-right-container {
  display: flex;
  justify-content: space-between;
}

footer.copyright {
  display: flex;
  padding: 1%;
  justify-content: space-evenly;
  font-size: 14px;
  line-height: 16px;
}

.container-backtotop {
  display: flex;
  position: sticky !important;
  margin-left: 80%;
  margin-bottom: -25px;
  width: 55px;
  height: 55px;
  border-radius: 77px;
  background: #054b16;
}

.back-to-top {
  display: flex;
  margin: 8px 22px 0;
}

.toparrow {
  height: 25px;
  width: 10px;
}

@media only screen and (max-width: 1400px) {
  .nav-links ul li a {
    color: #000;
  }

  .how-it-works {
    background-size: auto;
  }

  .step-container {
    justify-content: center;
    margin-top: 10%;
    overflow: overlay;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links ul li::after {
    content: none;
  }

  .nav-links ul button {
    width: max-content !important;
    margin-top: 28px !important;
    padding: 0 12px;
  }

  #menuIcon {
    color: #fff;
  }

  .nav-links {
    display: none;
    position: absolute;
    background: #f2ffef;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #000;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
  }

  .nav-links ul {
    padding: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .text-box {
    margin-top: 3%;
    width: 35%;
  }

  .feature-text h1,
  .how-it-works h1,
  .text-box h1,
  .text-container h1,
  .contact-us-form h1 {
    line-height: 26px;
    width: auto;
    font-size: 21px;
    font-weight: 600;
  }

  .feature-text p,
  .share-type p,
  .contact-details p,
  .copyright p {
    width: fit-content;
    line-height: 15px;
    font-size: 12px;
  }

  .share-type h4 {
    line-height: 26px;
    font-size: 21px;
    font-weight: 600;
  }

  .how-it-works h4 {
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .text-box p {
    width: fit-content;
    line-height: 15px;
    font-size: 12px;
  }

  .text-box .btn,
  .btn,
  .btn-white {
    width: max-content;
    letter-spacing: 0.08em;
    height: 40px;
    width: 130px;
    font-size: 14px;
    line-height: 21px;
  }

  .btn-white {
    width: 130px;
  }

  .capsule-btn {
    width: max-content;
    height: 38px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    align-items: center;
    width: 85px;
  }

  .feature img {
    width: 50px;
    height: 50px;
    display: block;
  }

  .feature-row {
    padding: 3% 10%;
  }

  .feature h3 {
    font-size: 14px;
  }

  .share-type {
    display: flex;
    padding: 0px 6% 10%;
    place-self: end;
    align-self: baseline;
    flex-direction: column;
  }

  .text-container {
    padding: 0 0 0 8%;
    margin-bottom: 16px;
    line-height: 15px;
    font-size: 12px;
  }

  .container-backtotop {
    margin-left: 75%;
  }

  .contact-details {
    width: auto;
    padding-right: 0;
  }

  .copyright p {
    font-size: 0.4rem;
  }

  p {
    font-size: 0.5rem;
  }

  h1 {
    font-size: 0.5em;
  }

  h3 {
    font-size: 0.8em;
  }

  .header {
    background-size: 60%;
    min-height: 45vh;
  }

  .platform-features h1 {
    font-size: 1.5rem;
  }

  .icon {
    width: 45px;
  }

  img.logo-text {
    width: 55px;
  }

  .head-img {
    align-self: baseline;
    width: 35%;
    margin-top: -4%;
  }

  .nav-links ul li a {
    color: #000;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links ul li::after {
    content: none;
  }

  .nav-links ul button {
    margin-top: 15px;
  }

  #menuIcon {
    color: #fff;
  }

  .nav-links {
    display: none;
    position: absolute;
    background: #f2ffef;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #000;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
  }

  .nav-links ul {
    padding: 25px;
  }

  .header {
    height: min-content;
  }

  .step {
    display: flex;
    font-size: 0.5rem;
    height: auto;
    width: auto;
    flex-direction: column;
    align-self: baseline;
    align-items: center;
  }

  .step img {
    width: 20px;
    height: 20px;
    align-items: baseline;
  }

  .how-it-works h5 {
    margin-top: 8px;
    font-size: 12px;
    align-items: baseline;
    line-height: 20px;
  }

  .count {
    margin-bottom: 5%;
  }

  .text-box button {
    margin-bottom: 25px;
  }

  .count h1 {
    font-size: 2rem;
  }

  .arrow {
    width: 5%;
  }

  .how-it-works {
    background-size: auto;
  }

  .step-container {
    justify-content: center;
    margin-top: 10%;
    overflow: overlay;
  }

  .circle-img {
    width: 40%;
  }

  .share-type-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .register-now-card h1 {
    font-size: 1rem;
  }

  .contact-us {
    padding: 2% 15% 15%;
  }

  .footer {
    display: block;
  }

  .footer h4 {
    font-size: 1rem;
  }

  .footer-col h4 {
    margin-top: 10px;
    font-size: 0.5em;
    margin-bottom: 5px;
  }

  .social-icons h4 {
    margin-top: 20px;
    font-size: 0.5em;
    margin-bottom: 5px;
  }

  .footer-left-container h4 {
    font-size: 0.5em;
  }

  .social-icons {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer p {
    margin: 0;
    font-size: 0.5rem;
  }

  footer {
    font-size: 0.1em;
  }
}